[Desktop Entry]
Name=ElRoi
Exec=/usr/lib/elroi/ElRoi %U
Icon=/usr/share/pixmaps/elroi.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
