[Desktop Entry]
Name=ElRoi
Exec=/usr/lib/ElRoi/ElRoi %U
Icon=/usr/share/pixmaps/ElRoi.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
